.Wrapper {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  align-items: center;
  width: 450px;
}

.progressbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: -37px;
}

.progressbar::before {
  content: "";
  position: absolute;
  background-color: #EAEFF6;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 5px;
  height: 4px;
  width: 100%;
  z-index: -1;
  transition: 0.4s ease;
}

.progress {
  position: absolute;
  background-color: #664DE6;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 5px;
  height: 4px;
  width: 50%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: #ffff;
  color: black;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #e0e0e0;
  transition: 0.4s ease;
}

.circle.active {
  border-color: #664DE6;
  background-color: #664DE6;
  color: white;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: absolute;
  bottom: 4em;
  right: 32em;
  display: flex;
  flex-wrap: nowrap;
}

.btn {
  padding: 20px 11.1rem;
  font-weight: bold;
  background-color: #664DE6;
  color: white;
  outline-style: none;
  cursor: pointer;
  font-size: 14px;
  border: 0;
  border-radius: 5px;
}

.btn.active {
  transform: scale(0.98);
}

.btn.focus {
  outline: none;
}

.btn.disabled {
  background-color: #9999;
  cursor: not-allowed;
}
