:root {
  --primary-color: #664DE6;
  --secondary-color: #EAEFF6;
  --text-main: #ffffff;
  --text-second: #000000;
  --form-color: #767D8D;
}

.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: 'Inter', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.card {
  top: 8%;
  position: absolute;
  left: 30%
}